:root {
    --color-background: #eee;

    --color-main: #009879;
    --global-label-color: var(--global-color-neutral-xx-dark);
    --global-color-error: #FF3333;

    --element-gap: 48px;
    --text-gap: 16px;

    --label-color: var(--global-label-color);
}

html {
    font-family: "Roboto", Sans-Serif; 
}

body{
    width: 100%;
    display: grid;
    justify-items: center;    
    background-color: var(--color-background);
}

select {
    text-align-last: center;
}

::-moz-selection { /* Code for Firefox */
    background: rgb(0, 177, 141);
  }
  
::selection {
    background: rgb(0, 177, 141);
}

.c-app {
    width: 600px;
    padding-top: 32px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: var(--element-gap);
}

.c-app-landing {
    padding: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
    align-items: center;
}

.c-body-landing {
    background-color: var(--color-background);
}

.c-body-landing h1 {
    font-size: 48px;
    margin: 0;
}

.c-body-landing h2 {
    font-size: 24px;
    margin: 0;
}

.c-mockup {
    height: 75vh;
}

.c-header-landing .c-explanation {
    margin-top: 48px;
    margin-bottom: 48px;
}

.c-form-field {
    position: relative;
}

.c-label {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    font-size: 16px;
    color: #4b4c60;
}

.c-input {
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 16px;
    border: 2px solid var(--color-main);
    background-color: #ddd;
}

.c-button {
    background-color: var(--color-main);
    color: #eee;
    border: none;
    outline: none;
    width: 100px;
    height: 50px;
    border-radius: 8px;
}

.c-button:hover {
    background-color: rgb(0, 177, 141);
    color: #eee;
    border: none;
    outline: none;
    border-radius: 8px;
}

.c-input:hover {
    border-color: var(--color-main);
}


.c-label__error-message {
    font-weight: 600;
	float: right;
    display: none;
    color: var(--global-color-error);
}

.c-label__error-message.is-visible {
	display: block;
}


.c-header-landing .c-explanation p {
    font-size: 18px;
    margin: 8px;
}

.c-header{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
}

.c-dropdown {
    margin: 0 auto;
}

.c-dropdown select {
    color: var(--color-main);
    font-size: 24px;
    border-radius: 8px;
    outline: none;
}

.c-dropdown select:hover {
    box-shadow: 0 0 2px var(--color-main);
}

.c-table-data tr {
    text-align: center;
}

.c-table-data tr:nth-child(even) {
    background-color: #dddddd;
}

.c-table-data tr:nth-child(n):hover {
    background-color: rgb(0, 177, 141);
}

.c-table-header h2 {
    text-align: center;
}

.has-error {
    --label-color: var(--global-color-error);
}

thead tr {
    background-color: var(--color-main);
    color: #ffffff;
    text-align: left;
}

@media(max-width:1024px){
    .c-mockup {
        height: 60vh;
    }
}

@media(max-width:940px){
    .c-mockup {
        display: none;
    }
    .c-app-landing {
        padding: 64px;
        grid-template-columns: 100%;
    }
    .c-form-item {
        font-size: 12px;
    }
}

@media(max-width:725px){
    .c-app{
        width: 400px;
        grid-gap: 32px;
    }
}

@media(max-width:540px){
    .c-app {
        padding: 18px;
    }
}

@media(max-width:400px){
    .c-graph {
        width: 200px;
    }

}